<div class="container reporting">
  <h1>Current Apprentices</h1>

  <div class="row apprentices">
    <div class="column full">
      <table>
        <h2>Residents</h2>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
          <% @residents.each do |resident| %>
            <tr>
              <td><%= resident.name %></td>
              <td><%= resident.email %></td>
              <td><%= display_date(resident.start_date) %></td>
              <td>
                <a href="/apprentices/<%= resident.employment_id %>">
                  <%= display_end_date(resident.end_date) %>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <table>
        <h2>Students</h2>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Mentor(s)</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.email %></td>
              <td><%= display_date(student.start_date) %></td>
              <td><%= display_end_date(student.end_date) %></td>
              <td><%= student.mentor_names %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
